
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

body {
  font-family: "DynaPuff", sans-serif;
  background-image: url('./images/What-is-Nutrition-Counseling-iStock-1416417320-2023-2-Hero-1336x614.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}


img {
  border-radius: 10px;
}
